<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../../assets/home_styles/images/about_us/1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Sharon</h2>
        <p class="title">CEO & Founder</p>
        <p>
          Sharon is an inspiration to all women around the world. She is a
          master flywheel instructor, former pro basket player, and a remarkable
          online female fitness trainner. She is also working in collaboration
          with Nike as a Nike master trainer
        </p>
        <p>sharon@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/home_styles/images/about_us/2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike</h2>
        <p class="title">Art Director</p>
        <p>
          He became certified fitness trainer in 2013. He became a certified
          sports nutritionist. The next year he received best population
          certification, he was accredited as Pune's youngest and first master
          trainer. There has been no turning back since then.
        </p>
        <p>mike@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/home_styles/images/about_us/3.jpg" alt="John" style="width:100%">
      <div class="container">
       <h2>John</h2>
        <p class="title">Designer</p>
        <p>
          Hohn, India's premier fitness marketing specialist, has the fan base
          of over 1 million people. He is also the founder of TG Talks Media,
          the largest fitness media platform in India. He is a St.Stephen's
          College, Delhi graduate.
        </p>
        <p>john@gmail.com </p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
