
<section class="banner">
  <div class="slider">
    <h1>STAY HEALTHY.</h1>
    <h1>BE ACTIVE.</h1>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-01.png">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-02.png">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-03.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-media">
      <ul>
        <li>
          <a><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a><i class="fab fa-pinterest-p"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bg-01">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Our Process</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-ruler-horizontal"></i></li>
          </ol>
          <p>ANALYSE YOUR GOAL</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-ruler-combined"></i></li>
          </ol>
          <p>WORK HARD ON IT</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-thumbs-up"></i></li>
          </ol>
          <p>IMPROVE YOUR PERFORMANCE</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-trophy"></i></li>
          </ol>
          <p>ACHIEVE YOUR DESTINY</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-02">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>programs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/1.jpg">
            </div>
            <div class="sentence">
              <h2>HATHA YOGA</h2>
              <p>Hatha Yoga is the science of hormonizing Pingala and Ida or the
                solar and lunar energies within us so as to prod our heigher
                consciousness to life. It is the science of activating the
                third, central-nandi-sushumna- which is the path of
                enlightenment.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/2.jpg">
            </div>
            <div class="sentence">
              <h2>GYM</h2>
              <p>People may assume that the main goal of exercise for obesity is
                always weight loss. However, this not necessarily the case.
                Exercise offers significant physical and mental health benifits
                to everyone, regardless of size or whether it causes weight
                loss.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/aerobics.jpg">
            </div>
            <div class="sentence">
              <h2>Aerobics</h2>
              <p>Aerobics is a physical exercise of low to heigh intensity that
                depends primarly on the aerobic energy generating process.
                "Aerobic" is defined as "relating to, involving, or requiring
                oxygen" and refers to the use of oxygen to meet energy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-03">
  <div class="wrapper d-flex">
    <div class="left">
      <div class="image">
      </div>
    </div>
    <div class="right">
      <div class="content">
        <h2>WHAT WE DO</h2>
        <ol>
          <li>
            <img src="assets/home_styles/images/icons/1.png">
            <h3>WEEKLY CHALLENGE</h3>
            <p>Weekly fitness challenge helps make teamwork, communication and
              colaboration better. Chalkenges make everyone trust each other
              more. They also help people work togather to do challenges they
              want to do.</p>
          </li>
          <li>
            <img src="assets/home_styles/images/icons/2.png">
            <h3>PERSONAL TRAINER</h3>
            <p>You can opt for live one-to-one session or virtual training. The
              live video sessions are charged on the session-by-session basis.
              Virtual training offers mode offers personalized plans and
              guidance from you trainer for a monthly fee but doesn't include
              one-to-one video session.</p>
          </li>
          <li>
            <img src="assets/home_styles/images/icons/3.png">
            <h3>GROUP CLASSES</h3>
            <p>No matter what type of group training workout you choose, the most
              important thing is to have more fun and stay safe. Be sure to warm
              up before getting started and cooldown afterward. And always
              listen to what the body says, the best group exercise wont be
              worth anything if the body is getting harmed.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="bg-04">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>OUR TEAM</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/3.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Shreeja</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/2.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Vikram</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/1.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Imel</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/4.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Aarthi</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-05">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>LATEST NEWS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/1.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Increased Demand for Shorter Worksouts</h3>
            <p>As more people return to work our lives become buiser again, one
              of the latest health and fitness trend is....
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/2.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Lower-Impact Exercise to Protect Joints</h3>
            <p>As popular as HIIT workouts continue to be, lower impact workouts
              are also one of the growing health and fitness....
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/3.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Overall Wellness of a Fitness Goal</h3>
            <p>As we have discussed, one of the latest trend in health and
              fitness is the growing popularity of the exercise that help with
              holistic wellbeing rather than....
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

